@charset "UTF-8";
.workflowgraph {
  position: relative;
  padding: 10px;
}
.workflowgraph svg {
  overflow: hidden;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}
.workflowgraph .node > .shape {
  stroke: #555;
  stroke-width: 0.6px;
  fill: #fff;
}
.workflowgraph .node.state.Container > .shape,
.workflowgraph .node.state.NotYetStarted > .shape {
  stroke-dasharray: 5 2;
}
.workflowgraph .node.state.Failed > .shape,
.workflowgraph rect.legend.Failed {
  fill: #de322f;
}
.workflowgraph .node.state.CaughtError > .shape,
.workflowgraph rect.legend.CaughtError {
  fill: orange;
}
.workflowgraph .node.state.Succeeded > .shape,
.workflowgraph rect.legend.Succeeded {
  fill: #2bd62e;
}
.workflowgraph .node.state.InProgress > .shape,
.workflowgraph rect.legend.InProgress {
  fill: #53c9ed;
}
.workflowgraph .node.state.Cancelled > .shape,
.workflowgraph rect.legend.Cancelled {
  fill: #ddd;
}
.workflowgraph .node.anchor > .shape {
  fill: #ffda75;
}
.workflowgraph .node.selected > .shape,
.workflowgraph .node.state.hovered:not(.selected):not(.NotYetStarted) > .shape {
  stroke: #555;
  stroke-width: 2px;
}
.workflowgraph .node.state.Container.Failed > .shape {
  fill: #ee9592;
}
.workflowgraph .node.state.Container.CaughtError > .shape {
  fill: #ffd27f;
}
.workflowgraph .node.state.Container.Succeeded > .shape {
  fill: #91ea9a;
}
.workflowgraph .node.state.Container.InProgress > .shape {
  fill: #a9e4f7;
}
.workflowgraph .node.state.Container.Cancelled > .shape {
  fill: #eee;
}
.workflowgraph marker {
  fill: #555;
}
.workflowgraph path {
  stroke: #555;
  background-color: #555;
  stroke-width: 1px;
}
.workflowgraph .node.anchor,
.workflowgraph .node.state.NotYetStarted {
  cursor: default;
}
.workflowgraph .node.state {
  cursor: pointer;
}
.workflowgraph tspan .label {
  font-weight: 400;
  font-size: 12px;
  text-shadow: none;
}
/* #header {
  text-align: left;
  padding: 5px;
} */
/* #textholder {
  line-height: 30px;
  height: 300px;
  width: 600;
  float: left;
  padding: 10px;
} */

.workflowgraph .tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
  background-color: #f1faff;
  border: 1px solid #007dbc;
  border-radius: 2px;
  color: #16191f;
  padding: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
}
